<?xml version='1.0' encoding='utf-8'?>
<widget id="com.spaceshiplabs.survey" version="2.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>surveyapp</name>
    <description>
        Hello World sample application that responds to the deviceready event.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <feature name="http://api.phonegap.com/1.0/device" />
    <preference name="permissions" value="none" />
    <preference name="orientation" value="default" />
    <preference name="target-device" value="universal" />
    <preference name="fullscreen" value="true" />
    <preference name="webviewbounce" value="true" />
    <preference name="prerendered-icon" value="true" />
    <preference name="stay-in-webview" value="false" />
    <preference name="ios-statusbarstyle" value="black-opaque" />
    <preference name="detect-data-types" value="true" />
    <preference name="exit-on-suspend" value="false" />
    <preference name="show-splash-screen-spinner" value="true" />
    <preference name="auto-hide-splash-screen" value="true" />
    <preference name="disable-cursor" value="false" />
    <preference name="android-minSdkVersion" value="7" />
    <preference name="android-installLocation" value="auto" />
    <icon src="icon.png" />
    <icon gap:density="ldpi" gap:platform="android" src="res/icons/logo-yellow-s.jpg" />
    <icon gap:density="mdpi" gap:platform="android" src="res/icons/logo-yellow-s.jpg" />
    <icon gap:density="hdpi" gap:platform="android" src="res/icons/logo-yellow-m.jpg" />
    <icon gap:density="xhdpi" gap:platform="android" src="res/icons/logo-yellow-g.jpg" />
    <icon gap:platform="blackberry" src="res/icons/logo-yellow-m.jpg" />
    <icon gap:platform="blackberry" gap:state="hover" src="res/icons/logo-yellow-m.jpg" />
    <icon gap:platform="ios" height="57" src="res/icons/logo-yellow-s.jpg" width="57" />
    <icon gap:platform="ios" height="72" src="res/icons/logo-yellow-m.jpg" width="72" />
    <icon gap:platform="ios" height="114" src="res/icons/logo-yellow-g.jpg" width="114" />
    <icon gap:platform="ios" height="144" src="res/icons/logo-yellow-g.jpg" width="144" />
    <icon gap:platform="webos" src="res/icons/logo-yellow-s.jpg" />
    <icon gap:platform="winphone" src="res/icons/logo-yellow-s.jpg" />
    <icon gap:platform="winphone" gap:role="background" src="res/icons/logo-yellow-g.jpg" />
    <gap:splash gap:density="ldpi" gap:platform="android" src="res/icons/logo-yellow-g.jpg" />
    <gap:splash gap:density="mdpi" gap:platform="android" src="res/icons/logo-yellow-g.jpg" />
    <gap:splash gap:density="hdpi" gap:platform="android" src="res/icons/logo-yellow-g.jpg" />
    <gap:splash gap:density="xhdpi" gap:platform="android" src="res/icons/logo-yellow-g.jpg" />
    <gap:splash gap:platform="blackberry" src="res/icons/logo-yellow-g.jpg" />
    <gap:splash gap:platform="ios" height="480" src="res/icons/logo-yellow-g.jpg" width="320" />
    <gap:splash gap:platform="ios" height="960" src="res/icons/logo-yellow-g.jpg" width="640" />
    <gap:splash gap:platform="ios" height="1024" src="res/icons/logo-yellow-g.jpg" width="768" />
    <gap:splash gap:platform="ios" height="768" src="res/icons/logo-yellow-g.jpg" width="1024" />
    <gap:splash gap:platform="winphone" src="res/icons/logo-yellow-g.jpg" />
    <access origin="*" />
</widget>
